<div id="addPersonPage">
	<h3 id="pageTitle">Create a Voter Account</h3>
	<form id="addPerson" action="/add_new_person" method="post">
	  <label>Username:</label>
	  <input type="text" name="username">
	  <label>Password:</label>
	  <input type="password" name="pwd">
	  <label>Confirm password:</label>
	  <input type="password" name="confPwd">
	  <label>First name:</label>
	  <input type="text" name="fname">
	  <label>Last name:</label>
	  <input type="text" name="lname">
	  <label>Social Security Number:</label>
	  <input type="text" name="ssn">
	  <label>Date of Birth:</label>
	  <input type="date" name="dob">
	  <label>Street address:</label>
	  <input type="text" name="stAddr">
	  <label>City:</label>
	  <input type="text" name="city">
	  <label>State:</label>
	  <select id="state_name" name="state">
	  </select>
	  <label>Zip code:</label>
	  <input type="number" name="zip">
	  <label>Email:</label>
	  <input type="email" name="email">
	  <p></p>
	  <input type="submit" value="Submit">
	</form>
	<br/ >
</div>
