<h1 id="banner">App Name</h1>
<h3>Create a Voter Account</h3>
<form id="addPerson" action="/add_new_person" method="post">
  Username: <input type="text" name="username" required><br>
  Password: <input type="password" name="pwd" required><br>
  Confirm password: <input type="password" name="confPwd" required><br>
  First name: <input type="text" name="fname" required>
  Last name: <input type="text" name="lname" required><br>
  Social Security Number: <input type="text" name="ssn" required>
  Date of Birth: <input type="date" name="dob" required><br>
  Street address: <input type="text" name="stAddr" required><br>
  City: <input type="text" name="city" required>
  State:<select id="state_name" name="state" required>
  </select>
  Zip code: <input type="number" name="zip" required><br>
  Email: <input type="email" name="email" required><br>
  <input type="submit" value="Submit">
</form>
<br/ >
